<div class="hero_banner-video--youtube-player-wrapper d-none d-lg-block">
  <div id="hero_banner-video--youtube-player"></div>
</div>

<script>
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('hero_banner-video--youtube-player', {
      height: '890',
      width: '1920',
      videoId: '{{ youtube_id }}',
      playerVars: {
        'modestbranding': true,
        'controls': 0,
        'autohide': 1,
        'wmode': 'opaque',
        'showinfo': 0,
        'loop': 1,
        'rel': 0,
      },
      events: {
        'onReady': onPlayerReady
      }
    });

    var audioControls = document.getElementById('hero_banner--audio-controls');

    document.getElementById('hero_banner--btn-pause').onclick = function() {
      player.pauseVideo();
      audioControls.classList.remove("is-playing");
    };

    document.getElementById('hero_banner--btn-play').onclick = function() {
      player.playVideo();
      audioControls.classList.add("is-playing");
    };

    document.getElementById('hero_banner--btn-unmute').onclick = function() {
      player.unMute();
      audioControls.classList.remove("is-muted");
    };

    document.getElementById('hero_banner--btn-mute').onclick = function() {
      player.mute();
      audioControls.classList.add("is-muted");
    };
  }

  function onPlayerReady(event) {
    player.playVideo();
    player.mute();
  }
</script>