// Black
$black: #000000;
$black_35: rgba(0, 0, 0, 0.35);
$black_85: rgba(0, 0, 0, 0.85);
$black_raisin_15: rgba(34, 36, 38, 0.15);
$eerie_black: #10102800;
$olive_black: #3b3b3b;
$raisin_black: #202020;

// White
$anti_flash_white: #f3f3f3;
$cultured_white: #f3f6f6;
$ghost_white: #f9fafc;
$white: #ffffff;
$white_10: rgba(255, 255, 255, 0.1);
$white_85: rgba(255, 255, 255, 0.85);
$white_90: rgba(255, 255, 255, 0.9);

// Gray
$bright_gray: #eeeeee;
$cadet_gray: #919eab;
$cerebral_grey: #cccccc;
$chinese_silver: #c9c9c9;
$dark_charcoal: #333333;
$dark_liver_gray: #4d4d4e;
$davys_gray: #5e5e5e;
$gainsboro: #d8d8d8;
$granite_gray: #666666;
$gray: #808080;
$gunmetal: #253141;
$gunmetal_gray: #273140;
$lavender_gray: #dfe3e8;
$leadbelcher: #cacaca;
$light_davys_gray: #474f5a;
$light_grayish_blue: #f4f6f8;
$metal_phoenix: #c4cdd5;
$outer_gray: #454f5b;
$outer_space: rgba(69, 79, 91, 1);
$platinum: #e7e9eb;
$spanish_gray: #999999;
$seashell: #f0f0f0;
$steam: #dddddd;
$taupe_gray: #888888;
$timberwolf: #eaeaea;
$timberwolf_gray: #e5e4e4;
$white_smoke_90: rgba(245, 245, 245, 0.9);
$x11_gray: #bbbbbb;

// Blue
$american_blue: rgba(66, 71, 112, 0.1);
$brandeis_blue: #006aff;
$brandeis_blue_100: rgba(0, 106, 255, 1);
$brilliant_azure: #3187fe;
$celestial_blue: #3e92c4;
$celestial_blue_c5: #3E92C5;
$crayola_blue: #266df6;
$lavender: #e5eefc;
$true_blue: #075ed6;

// Yellow
$middle_yellow: #ffea00;
$munsell_yellow: #edc200;

// Green
$blue_green: #1598c3;
